<div class="row">
  <div class="col-md-6 col-xl-3" (click)="goOne()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-plus f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Nouvelle</h6>
          <h6 class="m-b-0 text-center">Commande</h6>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3" (click)="goTwo()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-search f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Recherche</h6>
          <h6 class="m-b-0 text-center">Commandes</h6>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3" (click)="goThree()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-list-alt f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Stock</h6>
          <h6 class="m-b-0 text-center">Produits</h6>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3" (click)="goFour()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-barcode f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Génération</h6>
          <h6 class="m-b-0 text-center">Code Barres</h6>
        </div>
      </div>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xl-3" (click)="goFive()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-print f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Impression de </h6>
          <h6 class="m-b-0 text-center">Code Barres</h6>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3" (click)="goSix()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-share-square f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Tranferts</h6>
          <h6 class="m-b-0 text-center">De Stocks</h6>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3" (click)="goSeven()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-chart-bar f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Seuil</h6>
          <h6 class="m-b-0 text-center">De Stocks</h6>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3" (click)="goLast()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-external-link-alt f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Produits</h6>
          <h6 class="m-b-0 text-center">Hors Seuil</h6>
        </div>
      </div>
    </app-card>
  </div>

</div>
