

<!-- component for creation -->
<it-sale-details *ngIf="!visible" (closed)="updateOnClosed($event)" [subject]="'Vente'" [item]="selectedUpObject" ></it-sale-details>


<div class="" *ngIf="visible">

      <div class="box-footer text-right">
        <button type="button" (click)="hideForm()" class="btn btn-default"><i class="fa fa-arrow-left"></i> Fermer</button>
       <button type="button" (click)="createSale()" class="btn btn-default"><i class="fa fa-plus"></i> Créer</button>
        </div>

      <!-- zone de liste -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Liste des ventes <strong>({{sales.length}})</strong></h3>
                    <div class="pull-right"> Total: <strong>{{getTotalSalesValue(sales) | formatMoney }}</strong></div>
                <hr>

                <div class="row">
                  <div class="col-md-3">
                    <it-datepicker (selected)="getSelectedDateStart($event)"></it-datepicker>
                  </div>
                  <div class="col-md-3">
                    <it-datepicker (selected)="getSelectedDateEnd($event)"></it-datepicker>
                  </div>
                  <div class="col-md-6">
                    <button type="button" (click)="searchData()" class="btn btn-success"><i class="fa fa-search"></i> Rechercher</button>
                    <button type="button" (click)="printData()" class="btn btn-primary"><i class="fa fa-print"></i> Imprimer</button>
                  </div>
                </div>

              </div>

              <!-- pdf file printed -->
              <div *ngIf="isPrinting" class="text-center alert-info"><strong> Génération de la liste des ventes en cours... </strong> </div>

              <div *ngIf="isPrinting===false">
                <it-pdfviewer [visible]="isSalesListPdfVisible" [title]="'Liste des ventes'" [file]="generatedSalesListPdf" (closed)="updateOnPdfClose($event)" ></it-pdfviewer>
              </div>

              <!-- /.box-header -->
              <div class="box-body">
                <table id="example2" class="table table-striped table-hover">
                  <thead>
                  <tr class="info">
                    <th>#</th>
                    <th>Date Vente</th>
                    <th>Client</th>
                    <th class="text-center">Nbre de produits</th>
                    <th class="text-right">Montant reçu</th>
                    <th class="text-right">Montant vente</th>
                    <th class="">Auteur</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr class="" *ngIf="isLoading">
                    <td colspan="8"> <div class="text-center alert-info"><strong> Affichage de la liste des ventes en cours </strong> </div> </td>
                  </tr>

                  <tr *ngFor="let item of sales | itPaginator:pageStartIndex:pageLimit; trackBy: trackByFn; let i = index" >
                    <td>{{i+1}}</td>
                    <td>{{item.date | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{getCustomer(item.customer)}}</td>
                    <td class="text-center">{{item.lines.length }}</td>
                    <td class="text-right">{{item.amount_received | formatMoney}}</td>
                    <td class="text-right">{{item.amount_real | formatMoney}}</td>
                    <td>{{getSeller(item.agent)}}</td>
                    <td>
                      <a  title="Détails" class="item-click" (click)="viewDetails(item)"> <i class="glyphicon glyphicon-folder-open"></i> </a>

                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>

                <p-paginator [rows]="pageLimit" [totalRecords]="sales.length" (onPageChange)="paginate($event)" [rowsPerPageOptions]="limitTable"></p-paginator>

                <div>
                  <br>
                </div>
              </div>
              <!-- /.box -->

            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </section>
      <!-- /.content -->

</div>
