
<section class="content-header" *ngIf="item">

  <!--zone de modif -->
  <div class="row" >
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Modification {{subject}}</h3>

        </div>

        <!-- display message area -->
        <message-area [acting]="isSaving" [completed]="isCompleted" [success]="isSuccess" [title]="'Modification ' + subject" [message]="statusMessage"></message-area>

        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" (ngSubmit)="save(userForm.value)" #userForm="ngForm">
          <!-- action zone-->
          <div class="box-footer text-right">
            <button type="button" (click)="hideForm()" class="btn btn-default">Annuler</button>
            <button type="submit" [disabled]="!userForm.valid"  class="btn btn-success">Enregistrer</button>
          </div>

          <div class="box-body">

            <div class="row">
              <div class="col-md-6">
                <!-- description-->
                <div class="form-group">
                  <label for="df">Nom</label>
                  <input type="text" maxlength="100" class="form-control" [(ngModel)]="item.name" name="name"
                         placeholder="Nom"  required #name="ngModel">
                  <div  class="error_msg text-danger font-italic" *ngIf="name.dirty && name.hasError('required')">Nom de la banque manquant</div>
                </div>

              </div>

              <div class="col-md-6">

                <!-- zone de texte-->
                <div class="form-group">
                  <label for="vdfd">Contact</label>
                  <input type="text" maxlength="100" class="form-control" [(ngModel)]="item.contact" name="contact"
                         placeholder="Contact"  required #contact="ngModel">
                  <div  class="error_msg text-danger font-italic" *ngIf="contact.dirty && contact.hasError('required')">Contact de la banque manquant</div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- description-->
                <div class="form-group">
                  <label for="df">Adresse</label>
                  <input type="text" maxlength="100" class="form-control" [(ngModel)]="item.address" name="address"
                         placeholder="Adresse"  required #address="ngModel">
                  <div  class="error_msg text-danger font-italic" *ngIf="address.dirty && address.hasError('required')">Adresse de la banque manquante</div>
                </div>
              </div>


              <div class="col-md-6">

              </div>

            </div>

          </div>
          <!-- /.box-body -->

        </form>
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- fin zone de modif -->

</section>






