

<!-- bouton de creation -->
<section class="content-header"  >
  <!-- ligne du bouton de creation-->
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <div class="panel-body">
          <form class="form-horizontal" role="form" name="t">
            <!-- 3e ligne -->
            <div class="form-group">

              <div class="col-lg-3 pull-right">
                                <span class="input-group-btn">
                                    <button type='submit' (click)="showCreationForm()" name='search' id='search-btn' class="btn btn-primary pull-right"><i class="fa fa-save">&nbsp;</i>Créer</button>
                                </span>
              </div>

            </div>
          </form>


          <!--zone de creation -->
          <div class="row" *ngIf="visible">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Création {{subject}}</h3>

                </div>

                <!-- display message area -->
                <message-area [acting]="isSaving" [completed]="isCompleted" [success]="isSuccess" [title]="'Création ' + subject" [message]="statusMessage"></message-area>



                <!-- /.box-header -->
                <!-- form start -->
                <form role="form"  #userForm="ngForm">
                  <!-- action zone-->
                  <div class="box-footer text-right">
                    <button type="button" (click)="hideForm()" class="btn btn-default">Annuler</button>
                    <button type="submit" [disabled]="!userForm.valid" (click)="save(userForm.value)"  class="btn btn-success">Enregistrer</button>
                  </div>

                  <div class="box-body">

                    <div class="row">
                      <div class="col-md-6">
                        <!-- description-->
                        <div class="form-group">
                          <label for="df">Intitulé</label>
                          <input type="text" maxlength="20" class="form-control" [(ngModel)]="item.name" name="name"
                                  placeholder="Intitulé"  required #name="ngModel">
                          <div  class="error_msg text-danger font-italic" *ngIf="name.dirty && name.hasError('required')">Intitulé manquant</div>
                        </div>

                      </div>

                      <div class="col-md-6">

                        <!-- zone de texte-->
                        <div class="form-group">
                          <label for="vdfd">Référence</label>
                          <input type="text" maxlength="10" class="form-control" [(ngModel)]="item.code" name="code"
                                 placeholder="Référence"  required #reference="ngModel">
                          <div  class="error_msg text-danger font-italic" *ngIf="reference.dirty && reference.hasError('required')">Référence manquante</div>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <!-- description-->
                        <div class="form-group">
                          <label for="df">Type de compte</label>
                          <select class="form-control" name="account_type" [(ngModel)]="item.account_type" (change)="toogleItemsVisibility()"  required #account_type="ngModel">
                            <option *ngFor="let item of account_types" [ngValue]="item">{{item.name}}</option>
                          </select>
                          <div  class="error_msg text-danger font-italic" *ngIf="account_type.dirty && account_type.hasError('required')">Type de compte manquant</div>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group" *ngIf="isBankVisible">
                          <label for="df">Banque</label>
                          <select class="form-control" name="bank" [(ngModel)]="item.bank"  required #bank="ngModel">
                            <option *ngFor="let item of banks" [ngValue]="item">{{item.name}}</option>
                          </select>
                       </div>

                         <div class="form-group" *ngIf="isProfileVisible">
                          <label for="df">Profil</label>
                          <select class="form-control" name="profilename" [(ngModel)]="item.beneficiaire"  required #profile="ngModel">
                            <option *ngFor="let item of profiles" [ngValue]="item">{{item.login + " - " + item.user.lastname + " " + item.user.firstname + " (" + item.group.name + ")"}}</option>
                          </select>
                        </div>
                      </div>

                    </div>


                  </div>
                  <!-- /.box-body -->

                </form>
              </div>
              <!-- /.box -->
            </div>
          </div>
          <!-- fin zone de creation -->
        </div>
      </section>
    </div>
  </div>
</section>




