<app-card [options]="false" [customHeader]="true">
  <div class="app-card-header">
    <form role="form" #userForm="ngForm">
      <div class="row">
        <div class="form-group mb-0 input-group col-sm-4">
          <div class="input-group-append">
            <button class="btn btn-primary font-weight-bold btn-sm">DE</button>
          </div>
          <input type="date" name="dateStart" (change)="getSelectedDate1(userForm.value.dateStart)" [(ngModel)]="DefaultDateOne" #dateStart="ngModel" id="dateStart"
            class="pl-2 form-control">
        </div>
        <div class="form-group mb-0 input-group col-sm-4">
          <div class="input-group-append">
            <button class="btn btn-primary font-weight-bold btn-sm">À</button>
          </div>
          <input type="date" name="dateEnd" (change)="getSelectedDate2(userForm.value.dateEnd)" [(ngModel)]="DefaultDateTwo" #dateEnd="ngModel" id="dateEnd"
            class="pl-2 form-control">
        </div>
        <div type="submit" class="col-sm-4">
          <button class="btn btn-success float-right" (click)="getReports()">
            <span class="fa fa-search"></span> Rechercher</button>
        </div>
      </div>

    </form>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group mb-0 input-group col-sm-5" *ngIf="Clear && !noData">
        <div class="input-group-append">
          <button class="btn btn-primary font-weight-bold btn-sm">Chiffre d'Affaires de la Période : </button>
        </div>
        <input type="text" name="dateEnd" disabled ngModel="{{getCA() |formatMoney}} FCFA" #dateEnd="ngModel" id="dateEnd"
          class="pr-2 form-control rightnput">
      </div>
      <app-apex-chart chartID="pie-chart-1-cac" [chartConfig]="chartConfig" *ngIf="Clear && !noData"></app-apex-chart>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="row d-flex justify-content-center mb-5"  style="margin-bottom: 10em;" *ngIf="isLoading ">
        <div class="col-md-12 text-center p-0">
            <div class="p-20 pb-3">
                <div class="risk-rate">
                    <img src="assets/images/params/spinner.gif" alt="" width="15%">
                </div>
            </div>
            <p class="text-muted h3 mb-5">Veuillez Patientez...</p>
        </div>
      </div>
      <div class="row d-flex justify-content-center mb-5"  style="margin-bottom: 10em;" *ngIf="noData && !isLoading">
        <div class="col-md-12 text-center p-0">
            <div class="p-20 pb-3">
                <div class="risk-rate">
                    <img src="assets/images/params/liste_vide.png" alt="" width="15%">
                </div>
            </div>
            <p class="text-muted h3 mb-5">Aucun résultat trouvé !</p>
        </div>
      </div>
    <div class="table-responsive table-bordered table-hover" *ngIf="!isLoading && !noData">
      <table id="report-table" class="table mb-0">
        <thead class="thead-light">
          <tr class="text-center">
            <th class="align-middle pl-2 p-1">#</th>
            <th class="text-left pl-2 p-1">Nom & prénoms</th>
            <th class="align-center pl-2 p-1">Login</th>
            <th class="align-center pl-2 p-1">Agence</th>
            <th class="align-center pl-2 p-1">Total des ventes</th>
            <th class="align-center pl-2 p-1">Bénéfice</th>
            <th class="align-center pl-2 p-1">Nombre de ventes</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let item of userReports trackBy: trackByFn; let i=index;">
            <td class="align-middle pl-2 p-1">
              {{i+1}}
            </td>
            <td class="align-middle pl-2 p-1">
              {{item.userName}}
            </td>
            <td class="text-center pl-2 p-1">
              {{item.userLogin}}
            </td>
            <td class="text-center pl-2 p-1">
              {{item.agency}}
            </td>
            <td class="text-center pl-2 p-1">
              {{item.totalSell | formatMoney}} FCFA
            </td>
            <td class="text-center pl-2 p-1">
              {{item.totalProfit | formatMoney}} FCFA
            </td>
            <td class="text-center pl-2 p-1">
              {{item.qtySales}}
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <ngb-pagination class="float-right mt-2"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="orders.length"></ngb-pagination> -->
    </div>
    </div>
  </div>
</app-card>