<app-card [options]="false" [customHeader]="true">
  <div class="app-card-header">
    <div class="font-weight-bold mb-3">DETAILS COMMANDE DU
      <span class="text-danger font-weight-bold">{{item.date | date:'dd/MM/yyyy'}}</span>
    </div>
    <form role="form" #userForm="ngForm">
      <div class="row">
        <div class="form-group input-group col-md-3">
          <div class="input-group-append">
            <button class="btn btn-info font-weight-bold btn-sm">Fournisseur</button>
          </div>
          <input type="text" name="supplier" [(ngModel)]="item.supplier.name" disabled #supplier="ngModel" id="supplier"
            class="form-control pl-1">
        </div>
        <div class="form-group input-group col-md-3">
          <div class="input-group-append">
            <button class="btn btn-info font-weight-bold btn-sm">Rayon</button>
          </div>
          <input type="text" name="destination" [(ngModel)]="item.destination.name" disabled #destination="ngModel"
            id="destination" class="form-control pl-1">
        </div>
        <div class="form-group input-group col-md-4 d-flex justify-content-end" *ngIf="canShowBalanceBtn()">
          <div class="input-group-append">
            <button class="btn btn-success font-weight-bold" (click)="payBalance()">
              <span *ngIf="!show"><i class="fa fa-dollar-sign me-2 ms-n21"></i> Solder</span>
              <span *ngIf="show">Veuillez Patientez... &nbsp;</span>
              <span *ngIf="show" class="spinner-border" role="status" style="width: 1.3rem; height: 1.3rem;"></span>
            </button>
          </div>
          <button class="btn btn-primary font-weight-bold" (click)="printData()">
            <span class="fa fa-print"></span> Imprimer</button>
        </div>
        <div class="form-group input-group col-md-4 d-flex justify-content-end" *ngIf="!canShowBalanceBtn()">
          <button class="btn btn-primary font-weight-bold" (click)="printData()">
            <span class="fa fa-print"></span> Imprimer</button>
        </div>
        <div class="col-md-2">
          <button (click)="close()" class="btn btn-light float-right">
            Fermer </button>
        </div>
      </div>
    </form>

    <hr>
    <div class="row">
      <div class="form-group input-group col-md-4">
        <div class="input-group-append">
          <button class="btn  btn-warning font-weight-bold btn-sm">MONTANT COMMANDE</button>
        </div>
        <input type="text" name="amount" disabled ngModel="{{item.amount | formatMoney}}" #amount="ngModel" id="amount"
          class="form-control pr-2 rightnput">
      </div>
      <div class="form-group input-group col-md-4">
        <div class="input-group-append">
          <button class="btn btn-info font-weight-bold btn-sm">Mt Payé</button>
        </div>
        <input type="text" name="amount_paid" disabled ngModel="{{item.amount_paid | formatMoney}}" id="amount_paid"
          class="form-control pr-2 rightnput" #amount_paid>
      </div>
      <div class="form-group input-group col-md-4" *ngIf="canShowBalanceBtn()">
        <div class="input-group-append">
          <button class="btn  btn-warning font-weight-bold btn-sm">Reste</button>
        </div>
        <input type="text" name="amount_to_pay" [(ngModel)]="amountToPay" #amount_to_pay id="amount_to_pay"
          class="form-control pl-1">
      </div>
    </div>

  </div>
  <div class="table-responsive table-bordered">
    <table id="report-table" class="table mb-0">
      <thead class="thead-light">
        <tr class="text-center">
          <th>#</th>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Prix achat</th>
          <th>Prix vente</th>
          <th>Prix total</th>
          <th>Code barre</th>
          <th>Date Expiration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of item.product_lines; let i=index" class="text-center">
          <td class="align-middle p-0">
            {{i+1}}
          </td>
          <td>
            {{p.product.product.name}} ({{p.product.measure_type.name}})
          </td>
          <td class="align-middle p-0">
            {{p.quantity | formatMoney}}
          </td>
          <td class="align-middle p-0">
            {{p.purchase_price | formatMoney}}
          </td>
          <td class="align-middle p-0">
            {{p.selling_price | formatMoney}}
          </td>
          <td class="align-middle p-0">
            {{(p.purchase_price * p.quantity) | formatMoney}}
          </td>
          <td class="align-middle p-0">
            {{p.barcode}}
          </td>
          <td class="align-middle p-0">
            {{p.expiration_date | date: 'dd/MM/yyyy'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>
