<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Seuil de stock
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Accueil</a></li>
    <li><a href="#">Seuil de stock</a></li>
    <li class="active"></li>
  </ol>
</section>

<!-- component for creation -->
<it-stock-limit-create (created)="updateOnCreate($event)" [subject]="'Seuil de stock'" ></it-stock-limit-create>

<!-- component for update -->
<it-stock-limit-update *ngIf="selectedUpObject" [item]="selectedUpObject" (updated)="updateOnUpdate($event)" [subject]="'Rayon'" ></it-stock-limit-update>

<!-- component for delete -->
<it-stock-limit-delete *ngIf="selectedDelObject" [item]="selectedDelObject" (deleted)="updateOnDelete($event)" [subject]="'Rayon'" ></it-stock-limit-delete>




<!-- zone de liste -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Seuils de stock <strong>({{(stockLimit | stockLimit: param.product: param.measure_type.id).length}})</strong></h3><hr>
          <div class="row" >
            <div class="col-md-3">

              <div class="form-group">
                <label for="type_mesure">Type mesure</label>
                <select class="form-control" name="measure_type" [(ngModel)]="param.measure_type" >
                  <option *ngFor="let item of measureTypes" [ngValue]="item">{{item.name}}</option>
                </select>
              </div>

            </div>

            <div class="col-md-3">

              <div class="form-group">
                <label for="qty">Produit</label>
                <input type="text" maxlength="30" class="form-control" [(ngModel)]="param.product" name="product"
                       placeholder="Nom du produit"  >
              </div>

            </div>

          </div>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-striped table-hover">
            <thead>
            <tr class="info">
              <th>#</th>
              <th>Produit</th>
              <th>Type de mesure</th>
              <th class="text-center">&nbsp;Quantité</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <tr class="" *ngIf="isLoading">
              <td colspan="5"> <div class="text-center alert-info"><strong> Affichage des seuils de stock en cours </strong> </div> </td>
            </tr>

            <tr *ngFor="let item of stockLimit| stockLimit: param.product: param.measure_type.id; trackBy: trackByFn; let i = index" >
              <td>{{i+1}}</td>
              <td>{{item.product.name}}</td>
              <td>{{item.measure_type.name}}</td>
              <td class="text-center">{{item.quantity}}</td>
                  <td>
                <a title="Supprimer" class="item-click" (click)="selectForDelete(item)"> <i class="glyphicon glyphicon-remove error_msg2"></i> </a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
          <div>
            <br>
          </div>
        </div>
        <!-- /.box -->

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.content -->
