<div class="row">
  <div class="col-md-6 col-xl-3" (click)="goOne()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-plus f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Nouvelle</h6>
          <h6 class="m-b-0 text-center">Vente</h6>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3" (click)="goTwo()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-plus f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Nouvelle</h6>
          <h6 class="m-b-0 text-center">Vente à Crédit</h6>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3" (click)="goThree()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-search f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Recherche</h6>
          <h6 class="m-b-0 text-center">Ventes</h6>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3" (click)="goFour()">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="fa fa-search f-30 text-c-purple"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted text-center m-b-10">Recherche</h6>
          <h6 class="m-b-0 text-center">Devis</h6>
        </div>
      </div>
    </app-card>
  </div>
</div>
<app-card [options]="false" [customHeader]="true">
  <div class="app-card-header">
    <div class="row">
      <div class="col-md-6">
        <h5 class="text-primary font-weight-bold float-left">DERNIERES VENTES</h5>
        <small><a class="btn btn-icon btn-success ml-5 mr-1">
            <i class="fas fa-check-circle p-0"></i></a>NON NORMALISÉE</small>
        <small><a class="btn btn-icon btn-warning ml-1 mr-1">
            <i class="fas fa-hand-holding-usd p-0"></i></a>A CRÉDIT</small>
      </div>
      <div class="col-md-6">
        <small><a class="btn btn-icon btn-primary ml-1 mr-1">
            <i class="fas fa-file-invoice-dollar p-0"></i></a>NORMALISÉE</small>
        <small><a class="btn btn-icon btn-danger ml-1 mr-1">
            <i class="fas fa-file-excel p-0"></i></a>ANNULÉE</small>
        <h5 class="font-weight-bold float-right"><span class="text-primary">CAISSIER : </span> {{user.user.lastname + " " +
          user.user.firstname}}</h5>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-5" style="margin-bottom: 10em;" *ngIf="isLoading">
    <div class="col-md-12 text-center p-0">
      <div class="p-20 pb-3">
        <div class="risk-rate">
          <img src="assets/images/params/spinner.gif" alt="" width="15%">
        </div>
      </div>
      <p class="text-muted h3 mb-5">Veuillez Patientez...</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-5" style="margin-bottom: 10em;" *ngIf="noData && !isLoading">
    <div class="col-md-12 text-center p-0">
      <div class="p-20 pb-3">
        <div class="risk-rate">
          <img src="assets/images/params/liste_vide.png" alt="" width="15%">
        </div>
      </div>
      <p class="text-muted h3 mb-5">Aucun résultat trouvé !</p>
    </div>
  </div>
  <div class="table-responsive table-bordered" *ngIf="!isLoading && !noData">
    <table id="report-table" class="table mb-0">
      <thead class="thead-light">
        <tr class="text-center">
          <th>#</th>
          <th></th>
          <th>Date Vente</th>
          <th>Client</th>
          <th>Nb Prod</th>
          <th>Mt reçu</th>
          <th>Mt vente</th>
          <th>Auteur</th>
          <th>Voir Plus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of sales | slice: (page-1) * pageSize : page * pageSize; let i=index;" class="text-center">
          <td class="align-middle p-0">
            {{i+1}}
          </td>
          <td class="align-middle p-0">
            <a *ngIf="item.rest_to_pay != 0 && item.with_invoice == null" class="btn btn-icon btn-warning ml-1 mr-1"
              [placement]="'top'" ngbTooltip="Vente à Crédit Non Soldée">
              <i class="fas fa-hand-holding-usd p-0"></i></a>
            <a *ngIf="item.rest_to_pay == 0 && item.with_invoice == null" class="btn btn-icon btn-success ml-1 mr-1"
              [placement]="'top'" ngbTooltip="Vente Non Normalisée">
              <i class="fas fa-check-circle p-0"></i></a>
            <a *ngIf="item.with_invoice == true" class="btn btn-icon btn-primary ml-1 mr-1" [placement]="'top'"
              ngbTooltip="Vente avec Facture Normalisée">
              <i class="fas fa-file-invoice-dollar p-0"></i></a>
            <a *ngIf="item.with_invoice == false" class="btn btn-icon btn-danger ml-1 mr-1" [placement]="'top'"
              ngbTooltip="Normalisation Annulée">
              <i class="fas fa-file-excel p-0"></i></a>
          </td>
          <td class="align-middle p-0">
            {{item.date | date:'dd/MM/yyyy HH:mm'}}
          </td>
          <td class="align-middle p-0">
            {{getCustomer(item.customer)}}
          </td>
          <td class="align-middle p-0">
            {{item.lines.length }}
          </td>
          <td class="align-middle text-right p-0 pr-1">
            {{item.amount_paid | formatMoney}} <small>FCFA</small>
          </td>
          <td class="align-middle text-right p-0 pr-1">
            {{item.amount_to_pay | formatMoney}} <small>FCFA</small>
          </td>
          <td class="align-middle p-0">
            {{getSeller(item.agent)}}
          </td>
          <td class="align-middle p-0 pt-1 pb-1">
            <a class="btn btn-icon btn-outline-info" (click)="viewDetails(item)">
              <i class="fa  fa-folder-open p-0"></i></a>
            <a *ngIf="item.with_invoice == true" class="btn btn-icon btn-outline-danger ml-2"
              (click)="confirmProdRemoveModal(item)" [placement]="'top'" ngbTooltip="Annuler la facture">
              <i class="fas fa-recycle p-0"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

    <ngb-pagination class="float-right mt-2" [collectionSize]="sales.length" [(page)]="page" [pageSize]="pageSize"
      [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
    </ngb-pagination>
  </div>
</app-card>
