<app-card [hidHeader]="true" cardClass="bg-light" [options]="false">
  <div class="row">
    <div class="col-sm-12">
      <app-card [hidHeader]="true" cardClass="user-card2" blockClass="text-center">
        <div class="risk-rate">
          <img class="w-100" src="assets/images/welcome.jpg" alt="">
        </div>
        <h2 class="m-b-10 m-t-10">ISHOWO VOUS SOUHAITE LA BIENVENUE !</h2>
        <a href="javascript:" class="text-c-green b-b-success">-- Vous êtes connecté(e) à Ishowo --</a>
      </app-card>
    </div>
    <div class="col-sm-12">
      <app-card [hidHeader]="true" cardClass="user-card2" blockClass="text-center">
        <div class="row flex-wrap text-center align-items-center">
          <div class="col-12 ">
           Le code de votre licence est {{user.agency.company.currentLicence.code}} <br> Et expire le {{user.agency.company.currentLicence.expiryDate | date :"d-MM-y"}} <br>
            
           <button  (click)="open(content)" class="btn btn-primary float-center mt-2" >
            <span class="fa fa-info"></span> Payez</button>
            
          </div>
        </div>
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
            <button type="button" class="fa fa-minus" aria-label="Close" (click)="d('Cross click')"></button>
          </div>
          <div class="modal-body">
            <div class="col-12" >
              <h5>{{modulesList.nom }}</h5>
              <hr style="opacity: 0;">
              <app-card [hidHeader]="true" cardClass="user-card user-card-1 mt-4" blockClass="pt-0">
                <div class="user-about-block text-center">
                  <div class="row align-items-end">
                    <div class="col"><img class="img-radius img-fluid wid-80" src="assets/images/pages/medal-trial.svg"
                        alt="User image"></div>
                  </div>
                </div>
                <form role="form" #paymentForm="ngForm">
                  <div class="text-center">
                    <p class="mb-2 mt-2 text-center minText">{{modulesList.description}}</p>
                    <div class="row align-items-center">
                      <div class="form-group mb-0 input-group">
                        <div class="input-group-append">
                          <button class="btn btn-primary font-weight-bold btn-sm" type="submit">Formule de
                            Licence</button>
                        </div>
                        <select class="form-control text-right" name="formule" ngModel="annuelle" required
                          #formule="ngModel">
                          <option [ngValue]="'annuelle'">ANNUELLE</option>
                          <option [ngValue]="'semestrielle'">SEMESTRIELLE</option>
                          <option [ngValue]="'trimestrielle'">TRIMESTRIELLE</option>
                        </select>
                      </div>
                    </div>
                    <p  class="pt-3 mb-0 h4"><span class="badge badge-warning">
                        {{getFormulesListById(modulesList.id, paymentForm.value.formule)}}</span>
                      </p>
                  </div>
                </form>
              </app-card>
              <div class="btn btn-success d-flex justify-content-around" role="alert"
                (click)="LaunchPayModal(modulesList, paymentForm.value.formule)">
                <h3 class="text-white text-center"><i class="fas fa-money-bill-wave"></i> ACHETER</h3>
              </div>
             
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
          </div>
        </ng-template>
      </app-card>
    </div>
    <div class="col-sm-12">
      <app-card [options]="false" [customHeader]="true">
        <div class="app-card-header">
          <div class="mb-4">
            <h2 class="font-weight-bold text-center text-primary" style="text-decoration: underline;">STATISTIQUES
              GLOBALES</h2>
          </div>
          <hr>
          <form role="form" #userForm="ngForm">
            <div class="row">
              <div class="form-group mb-0 input-group col-sm-4">
                <div class="input-group-append">
                  <button class="btn btn-primary font-weight-bold btn-sm">DE</button>
                </div>
                <input type="date" name="dateStart" [(ngModel)]="DefaultDateOne" #dateStart="ngModel" id="dateStart"
                  class="pl-2 form-control">
              </div>
              <div class="form-group mb-0 input-group col-sm-4">
                <div class="input-group-append">
                  <button class="btn btn-primary font-weight-bold btn-sm">À</button>
                </div>
                <input type="date" name="dateEnd" [(ngModel)]="DefaultDateTwo" #dateEnd="ngModel" id="dateEnd"
                  class="pl-2 form-control">
              </div>
              <div type="submit" class="col-sm-4">
                <button class="btn btn-primary float-right" (click)="getStatsByPeriod(userForm.value)">
                  <span class="fa fa-search"></span> Rechercher</button>
              </div>
            </div>

          </form>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true"
              footerClass="bg-light border-0">
              <h5 class="text-left">Commandes</h5>
              <p class="m-b-0">Total</p>
              <span class="d-block text-c-green f-30 font-weight-bold">{{(report.totalOrder || '0') |
                formatMoney}}</span><span class="badge badge-info">FCFA</span>
              <div class="app-card-footer">
              </div>
            </app-card>
          </div>
          <div class="col-md-6 col-lg-3">
            <app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true"
              footerClass="bg-light border-0">
              <h5 class="text-left">Ventes</h5>
              <p class="m-b-0">Total</p>
              <span class="d-block text-c-blue f-30 font-weight-bold">{{(report.totalSell || '0') |
                formatMoney}}</span><span class="badge badge-info">FCFA</span>
              <div class="app-card-footer">
              </div>
            </app-card>
          </div>
          <div class="col-md-6 col-lg-3">
            <app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true"
              footerClass="bg-light border-0">
              <h5 class="text-left">Bénéfices</h5>
              <p class="m-b-0">Total</p>
              <span class="d-block text-c-yellow f-30 font-weight-bold">{{(report.totalProfit || '0') |
                formatMoney}}</span><span class="badge badge-info">FCFA</span>
              <div class="app-card-footer bg-primary">
              </div>
            </app-card>
          </div>
          <div class="col-md-6 col-lg-3">
            <app-card [hidHeader]="true" cardClass="statustic-card" blockClass="text-center" [isCardFooter]="true"
              footerClass="bg-light border-0">
              <h5 class="text-left">Produits Vendus</h5>
              <p class="m-b-0">Total</p>
              <span class="d-block text-c-red f-30 font-weight-bold">{{report.qtySold || '0'}}</span><span
                class="badge badge-info">Produits Vendus</span>
              <div class="app-card-footer">
              </div>
            </app-card>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xl-4">
            <app-card [hidHeader]="true" cardClass="widget-statstic-card">
              <div class="card-header-left mb-3">
                <h5 class="mb-0">Produit le Plus Vendu</h5>
                <h5 class="mb-0">(en Quantité)</h5>
                <p class="p-t-10 m-b-0 text-c-yellow">Total</p>

              </div>
              <i class="fa fa-trophy st-icon bg-c-blue"></i>
              <div class="text-left">
                <h3 class="d-inline-block">{{getProductQA(report.mostSoldProd) | formatMoney}}</h3>
                <i class="feather icon-arrow-up f-20 text-c-blue"></i>
                <span class="float-right text-center bg-c-blue w-50">{{getProductName(report.mostSoldProd)}}</span>
              </div>
            </app-card>
          </div>
          <div class="col-md-12 col-xl-4">
            <app-card [hidHeader]="true" cardClass="widget-statstic-card">
              <div class="card-header-left mb-3">
                <h5 class="mb-0">Produit le Plus Vendu</h5>
                <h5 class="mb-0">(en Chiffre d'Affaires)</h5>
                <p class="p-t-10 m-b-0 text-c-yellow">Total</p>
              </div>
              <i class="fa fa-trophy st-icon bg-c-green"></i>
              <div class="text-left">
                <h3 class="d-inline-block">{{getProductQA(report.mostIncomeProd) | formatMoney}}</h3>
                <i class="feather f-3 font-weight-bold text-c-green pl-2 pb-5">FCFA</i>
                <span class="float-right text-center bg-c-green w-50">{{getProductName(report.mostIncomeProd)}}</span>
              </div>
            </app-card>
          </div>
          <div class="col-md-12 col-xl-4">
            <app-card [hidHeader]="true" cardClass="widget-statstic-card">
              <div class="card-header-left mb-3">
                <h5 class="mb-0">Produit le Plus Rentable</h5><br>
                <p class="p-t-10 m-b-0 text-c-yellow">Total</p>
              </div>
              <i class="fa fa-trophy st-icon bg-c-yellow"></i>
              <div class="text-left">
                <h3 class="d-inline-block">{{getProductQA(report.mostProfitableProd) | formatMoney}}</h3>
                <i class="feather f-3 font-weight-bold text-c-yellow pl-2 pb-5">FCFA</i>
                <span
                  class="float-right text-center bg-c-yellow w-50">{{getProductName(report.mostProfitableProd)}}</span>
              </div>
            </app-card>
          </div>
        </div>
      </app-card>
    </div>


    <div class="col-sm-12">
      <app-card [options]="false" [customHeader]="true">
        <div class="app-card-header">
          <div class="mb-4">
            <h2 class="font-weight-bold text-center text-primary" style="text-decoration: underline;">
              PRODUITS HORS SEUIL DE STOCK
              </h2>
          </div>
          <form role="form" #userForm="ngForm">
            <hr>
            <div class="row">
              <div class="form-group mb-0 input-group col-sm-5">
                <div class="input-group-append">
                  <button class="btn btn-info font-weight-bold btn-sm">Produit</button>
                </div>
                <input type="text" maxlength="30" class="form-control pl-2" [(ngModel)]="parame.product" name="product"
                  (keydown.enter)="searchStockView()" placeholder="Nom du produit">
              </div>
              <div class="form-group mb-0 input-group col-sm-5">
                <div class="input-group-append">
                  <button class="btn btn-secondary font-weight-bold btn-sm">T.Mesure</button>
                </div>
                <select class="form-control" name="measure_type" [(ngModel)]="parame.measure_type">
                  <option *ngFor="let item of measureTypes" [ngValue]="item">{{item.name}}</option>
                </select>
              </div>

              <div class="form-group mb-0 input-group col-sm-2">
                <button class="btn btn-light" (click)="getUnderStockProdList()">
                  <span class="fas fa-redo-alt"></span> Actualiser</button>
              </div>

            </div>
          </form>

        </div>
        <div class="row d-flex justify-content-center mb-5" style="margin-bottom: 10em;" *ngIf="isLoading">
          <div class="col-md-12 text-center p-0">
            <div class="p-20 pb-3">
              <div class="risk-rate">
                <img src="assets/images/params/spinner.gif" alt="" width="15%">
              </div>
            </div>
            <p class="text-muted h3 mb-5">Veuillez Patientez...</p>
          </div>
        </div>
        <div class="row d-flex justify-content-center mb-5" style="margin-bottom: 10em;" *ngIf="noData && !isLoading">
          <div class="col-md-12 text-center p-0">
            <div class="p-20 pb-3">
              <div class="risk-rate">
                <img src="assets/images/params/liste_vide.png" alt="" width="15%">
              </div>
            </div>
            <p class="text-muted h3 mb-5">Aucun résultat trouvé !</p>
          </div>
        </div>
        <div class="table-responsive table-bordered table-hover" *ngIf="!isLoading && !noData">
          <table id="report-table" class="table mb-0">
            <thead class="thead-light">
              <tr class="text-center">
                <th>#</th>
                <th>Référence</th>
                <th class="text-left">Produit</th>
                <th>Catégorie</th>
                <th>U.Mesure</th>
                <th class="text-center">Stock actuel</th>
                <th class="text-center">Quantité Seuil</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of underStockList | stockView: parame.product: parame.category.id: parame.measure_type.id: parame.location.id: parame.agency.id: parame.codebarre | slice: (page-1) * pageSize : page * pageSize; let i = index;"
                class="text-center">
                <td class="align-middle p-0">
                  {{i+1}}
                </td>
                <td>{{item.barcode}}</td>
                <td class="text-left">{{item.product.product.name}}</td>
                <td>{{item.product.product.category.name}}</td>
                <td>{{item.product.measure_type.name}}</td>
                <td class="text-center font-weight-bold text-danger">{{item.quantity}}</td>
                <td class="text-center font-weight-bold text-danger">{{item.product.quantity}}</td>
              </tr>
            </tbody>
          </table>

          <ngb-pagination class="float-right mt-2" [collectionSize]="underStockList.length" [(page)]="page"
            [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
          </ngb-pagination>
        </div>
      </app-card>
    </div>

    <div class="col-sm-12">
      <app-card [hidHeader]="true" cardClass="card-datatable">
        <div class="mb-4">
          <h2 class="font-weight-bold text-center text-primary" style="text-decoration: underline;">
            OBJECTIFS DE VENTE
            </h2>
        </div>
        <div class="row d-flex justify-content-end">
          <div class="form-group mb-0 input-group col-sm-2">
            <button class="btn btn-light" (click)="getSaleTargetList()">
              <span class="fas fa-redo-alt"></span> Actualiser</button>
          </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center mb-5" style="margin-bottom: 10em;" *ngIf="isLoadingOne">
          <div class="col-md-12 text-center p-0">
            <div class="p-20 pb-3">
              <div class="risk-rate">
                <img src="assets/images/params/spinner.gif" alt="" width="15%">
              </div>
            </div>
            <p class="text-muted h3 mb-5">Veuillez Patientez...</p>
          </div>
        </div>
        <div class="row d-flex justify-content-center mb-5" style="margin-bottom: 10em;" *ngIf="noDataOne && !isLoadingOne">
          <div class="col-md-12 text-center p-0">
            <div class="p-20 pb-3">
              <div class="risk-rate">
                <img src="assets/images/params/liste_vide.png" alt="" width="15%">
              </div>
            </div>
            <p class="text-muted h3 mb-5">Aucun résultat trouvé !</p>
          </div>
        </div>
        <div class="table-responsive" *ngIf="!isLoadingOne && !noDataOne">
          <table id="report-table" class="table mb-0">
            <thead class="thead-light">
              <tr class="text-center">
                <th>#</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Nom</th>
                <th>Montant à Atteindre</th>
                <th>Montant Atteint</th>
                <th>Est Atteint</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of saleTargetList | slice: (page-1) * pageSize : page * pageSize; let i = index"
                class="text-center">
                <td class="align-middle p-0">
                  {{i+1}}
                </td>
                <td class="align-middle p-0 text-success font-weight-bold">
                  {{item.start_date | date:'dd/MM/yyyy'}}
                </td>
                <td class="align-middle p-0 text-danger font-weight-bold">
                  {{item.end_date | date:'dd/MM/yyyy'}}
                </td>
                <td class="align-middle p-0">
                  {{item.agent.login}} ({{item.agent.user.firstname + " " + item.agent.user.lastname}})
                </td>
                <td class="align-middle p-0 font-weight-bold">
                  {{item.amount_target |formatMoney}} <small>FCFA</small>
                </td>
                <td class="align-middle p-0 font-weight-bold">
                  {{item.amount_obtained |formatMoney}} <small>FCFA</small>
                </td>
                <td *ngIf="item.is_reached " class="align-middle p-0 font-weight-bold text-success">
                  OUI
                </td>
                <td *ngIf="!item.is_reached" class="align-middle p-0 font-weight-bold text-danger">
                  NON
                </td>
              </tr>
            </tbody>
          </table>

            <ngb-pagination class="float-right mt-2" [collectionSize]="saleTargetList.length" [(page)]="page"
            [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
          </ngb-pagination>
        </div>
      </app-card>
    </div>
  </div>
</app-card>
