<app-card [options]="false" [customHeader]="true">
  <div class="app-card-header">
      <form role="form" #userForm="ngForm">
          <div class="row">
              <div class="form-group mb-0 input-group col-sm-5">
                  <div class="input-group-append">
                      <button class="btn btn-info font-weight-bold btn-sm">Produit</button>
                  </div>
                  <input type="text" maxlength="30" class="form-control pl-2" [(ngModel)]="param.product"
                      name="product" (keydown.enter)="0" placeholder="Nom du produit">
              </div>

              <div class="form-group mb-0 input-group col-sm-5">
                  <div class="input-group-append">
                      <button class="btn btn-info font-weight-bold btn-sm">T.Mesure</button>
                  </div>
                  <select class="form-control" name="measure_type" [(ngModel)]="param.measure_type">
                      <option *ngFor="let item of measureTypes" [ngValue]="item">{{item.name}}</option>
                  </select>
              </div>
              <div class="form-group mb-0 col-sm-2">
                <button class="btn btn-light font-weight-bold" [routerLink]="['/stocks/main']">
                  <span class="fas fa-chevron-circle-left"></span> RETOUR</button>
            </div>
          </div>
      </form>
  </div>
  <div class="row d-flex justify-content-center mb-5"  style="margin-bottom: 10em;" *ngIf="isLoading">
      <div class="col-md-12 text-center p-0">
          <div class="p-20 pb-3">
              <div class="risk-rate">
                  <img src="assets/images/params/spinner.gif" alt="" width="15%">
              </div>
          </div>
          <p class="text-muted h3 mb-5">Veuillez Patientez...</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center mb-5"  style="margin-bottom: 10em;" *ngIf="noData && !isLoading">
      <div class="col-md-12 text-center p-0">
          <div class="p-20 pb-3">
              <div class="risk-rate">
                  <img src="assets/images/params/liste_vide.png" alt="" width="15%">
              </div>
          </div>
          <p class="text-muted h3 mb-5">Aucun résultat trouvé !</p>
      </div>
    </div>
  <div class="table-responsive table-bordered table-hover" *ngIf="!isLoading && !noData">
      <table id="report-table" class="table mb-0">
          <thead class="thead-light">
              <tr class="text-center">
                  <th>#</th>
                  <th class="text-left">Produit</th>
                  <th>Catégorie</th>
                  <th>Unité DE Mesure</th>
                  <th class="text-center">Stock Limit</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
            <!-- | stockLimit: param.product: param.measure_type.id -->
              <tr *ngFor="let item of stockLimit |stockLimit: param.product: param.measure_type.id | slice: (page-1) * pageSize : page * pageSize; let i = index;"
                  class="text-center">
                  <td class="align-middle p-0">
                      {{i+1}}
                  </td>
                  <td class="text-left">{{item.product.name}}</td>
                  <td>{{item.product.category.name}}</td>
                  <td>{{item.produit_measure_type.measure_type.name}}</td>
                  <td class="text-center font-weight-bold text-primary">{{item.quantity}}</td>
                  <td class="align-middle p-0 pt-1 pb-1">
                    <a class="btn btn-icon btn-outline-success mr-2" [placement]="'top'" ngbTooltip="Mis à Jour"
                          (click)="updateModal(item)"><i class="fa fa-edit"></i></a>
                      <a class="btn btn-icon btn-outline-danger " [placement]="'top'" ngbTooltip="Supprimer"
                          (click)="confirmProdRemoveModal(item)"><i class="fa fa-times"></i></a>
                  </td>
              </tr>
          </tbody>
      </table>

          <ngb-pagination class="float-right mt-2" [collectionSize]="stockLimit.length" [(page)]="page"
          [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
        </ngb-pagination>
  </div>
</app-card>

<button class="btn btn-primary text-center btn-sm btn-round has-ripple float" (click)="createModal()">
  <i class="feather icon-plus my-float text-center pb-3"></i></button>
