  <div class="row d-flex justify-content-center mb-5" style="margin-bottom: 10em;" *ngIf="isLoading">
    <div class="col-md-12 text-center p-0">
      <div class="p-20 pb-3">
        <div class="risk-rate">
          <img src="assets/images/params/spinner.gif" alt="" width="15%">
        </div>
      </div>
      <p class="text-muted h3 mb-5">Veuillez Patientez...</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-5" style="margin-bottom: 10em;" *ngIf="noData && !isLoading">
    <div class="col-md-12 text-center p-0">
      <div class="p-20 pb-3">
        <div class="risk-rate">
          <img src="assets/images/params/liste_vide.png" alt="" width="15%">
        </div>
      </div>
      <p class="text-muted h3 mb-5">Aucun résultat trouvé !</p>
    </div>
  </div>
  <div class="table-responsive" *ngIf="!isLoading && !noData">
    <table id="report-table" class="table mb-0">
      <thead class="thead-light">
        <tr class="text-center">
          <th>#</th>
          <th>Libellé de la Sauvegarde</th>
          <th>Date de Sauvegarde</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of savedOrders | slice: (page-1) * pageSize : page * pageSize; trackBy: trackByFn; let i = index;"
          class="text-center">
          <td class="align-middle p-0">
            {{i+1}}
          </td>
          <td class="align-middle p-0">
            {{item.title}}
          </td>
          <td class="align-middle p-0">
            {{item.date | date:'fullDate':'':'fr'}}
          </td>
          <td class="align-middle p-1">
            <a class="btn btn-icon btn-outline-success" (click)="launchSavedOrder(item)"><i
                class="fas fa-file-upload"></i></a>
            <a class="ml-2 btn btn-icon btn-outline-danger" (click)="deleteSavedOrder(item.id)">
              <i class="feather icon-trash-2"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

      <ngb-pagination class="float-right mt-2" [collectionSize]="savedOrders.length" [(page)]="page"
      [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
    </ngb-pagination>
  </div>
