<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>{{title}}
    <small></small>
  </h1>
</section>


<!-- zone de liste -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">

          <div class="row">
            <div class="col-md-12">
              <br>
              <div class="box box-default collapsed-box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Filtre</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-1 text-right">
                      De
                    </div>
                    <div class="col-md-2">
                      <it-datepicker (selected)="getSelectedDate1($event)"></it-datepicker>
                    </div>
                    <div class="col-md-1 text-right">
                      A
                    </div>
                    <div class="col-md-2">
                      <it-datepicker (selected)="getSelectedDate2($event)"></it-datepicker>
                    </div>
                    <div class="col-md-offset-1 col-md-2">
                      <button type="button" (click)="getStatsByPeriod()" class="btn btn-success"><i class="fa fa-search"></i> Afficher</button>
                    </div>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
          </div>

        </div>
        <!-- /.box-header -->
        <div class="box-body">

		  <div class="row">
        <!-- les chiffres -->
        <div class="col-md-12">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow">
              <!-- /.widget-user-image -->
              <h4 class="widget-user-username">Du {{param.startDate | date:'dd/MM/yyyy'}} au {{param.endDate | date:'dd/MM/yyyy'}}</h4>
            </div>

            <div class="row">

              <!-- zone de droite -->
              <div class="col-md-4">
                <!-- zone loading -->
                <div class="box-footer no-padding" *ngIf="isLoadingStats">
                  <ul class="nav nav-stacked">
                    <li><a class="text-center alert-info">Chargement des statistiques en cours...</a></li>
                  </ul>
                </div>
                <!-- end zone loading -->

                <!-- zone data -->
                <div class="box-footer no-padding" *ngIf="!isLoadingStats">
                  <ul class="nav nav-stacked">
                    <li *ngIf="is_part_visible"><a >Total des commandes <span class="pull-right badge bg-orange">{{(report.totalOrder || '0') | formatMoney}}</span></a></li>
                    <li><a >Total des ventes <span class="pull-right badge bg-blue">{{(report.totalSell || '0') | formatMoney}}</span></a></li>
                    <li *ngIf="is_part_visible"><a >Total des bénéfices <span class="pull-right badge bg-aqua">{{(report.totalProfit || '0') | formatMoney}}</span></a></li>
                    <li><a >Nombre de produits vendus <span class="pull-right badge bg-green">{{report.qtySold || '0'}}</span></a></li>
                  </ul>
                </div>
                <!-- end zone data -->
              </div>
              <!-- zone de droite -->


              <!-- zone de droite -->
              <div class="col-md-8">
                <!-- zone loading -->
                <div class="box-footer no-padding" *ngIf="isLoadingStats">
                  <ul class="nav nav-stacked">
                    <li><a class="text-center alert-info">Chargement des statistiques en cours...</a></li>
                  </ul>
                </div>
                <!-- end zone loading -->

                <!-- zone data -->
                <div class="box-footer no-padding" *ngIf="!isLoadingStats">
                  <ul class="nav nav-stacked">
                    <li>
                      <a>
                        <div class="row">
                          <div class="col-md-4">Produit le plus vendu (en quantité)</div>
                          <div class="col-md-4">  <div class="text-center"><strong>{{getProductName(report.mostSoldProd)}} {{getProductMeasureType(report.mostSoldProd)}}</strong></div></div>
                          <div class="col-md-4"> <span class="pull-right badge bg-orange">{{getProductQA(report.mostSoldProd) | formatMoney}}</span></div>
                        </div>
                      </a>
                    </li>

                    <li>
                      <a >
                        <div class="row">
                          <div class="col-md-4">Produit le plus vendu (en CA)</div>
                          <div class="col-md-4">  <div class="text-center"><strong>{{getProductName(report.mostIncomeProd)}} {{getProductMeasureType(report.mostIncomeProd)}}</strong></div></div>
                          <div class="col-md-4"> <span class="pull-right badge bg-blue">{{getProductQA(report.mostIncomeProd) | formatMoney}}</span></div>
                        </div>
                      </a>
                    </li>

                    <li *ngIf="is_part_visible">
                      <a >
                        <div class="row">
                          <div class="col-md-4">Produit le plus rentable</div>
                          <div class="col-md-4">  <div class="text-center"><strong>{{getProductName(report.mostProfitableProd)}} {{getProductMeasureType(report.mostProfitableProd)}}</strong></div></div>
                          <div class="col-md-4"> <span class="pull-right badge bg-green">{{getProductQA(report.mostProfitableProd) | formatMoney}}</span></div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- end zone data -->
              </div>
              <!-- zone de droite -->



            </div>


          </div>
          <!-- /.widget-user -->
        </div>
        <!-- fin les chiffres -->



  </div>

        </div>
        <!-- /.box -->

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- /.content -->
