
<section class="content-header" *ngIf="item">

  <!--zone de modif -->
  <div class="row" >
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Modification {{subject}}</h3>

        </div>

        <!-- display message area -->
        <message-area [acting]="isSaving" [completed]="isCompleted" [success]="isSuccess" [title]="'Modification ' + subject" [message]="statusMessage"></message-area>



        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" (ngSubmit)="save(userForm.value)" #userForm="ngForm">
          <!-- action zone-->
          <div class="box-footer text-right">
            <button type="button" (click)="hideForm()" class="btn btn-default">Annuler</button>
            <button type="submit" [disabled]="!userForm.valid"  class="btn btn-success">Enregistrer</button>
          </div>

          <div class="box-body">

            <div class="row">
              <div class="col-md-6">
                <!-- description-->
                <div class="form-group">
                  <label for="exampleInputEmail1">Nom</label>
                  <input type="text" maxlength="100" class="form-control" [(ngModel)]="item.name" name="name"
                         placeholder="Nom"  required #name="ngModel">
                  <small class="error_msg text-danger font-italic" *ngIf="name.dirty && name.hasError('required')">Nom de l'agence manquant</small>
                </div>

              </div>


              <div class="col-md-6">

                <!-- zone de texte-->
                <div class="form-group">
                  <label for="exampleInputEmail1">Localisation</label>
                  <input type="text" maxlength="100" class="form-control" name="address" [(ngModel)]="item.address"
                         placeholder="Localisation" ngModel required #address="ngModel">
                  <small class="error_msg text-danger font-italic" *ngIf="address.dirty && address.hasError('required')">Localisation de l'agence manquante</small>
                </div>
              </div>

            </div>



            <!-- message derreur-->
            <div class="form-group" ng-show="showBadDataFeedBack.status===true" *ngIf="showBadDataFeedBack">
              <span class="error_msg text-danger font-italic">{{showBadDataFeedBack.message}}</span>
            </div>
          </div>
          <!-- /.box-body -->

        </form>
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- fin zone de modif -->

</section>






