

<!-- bouton de creation -->
<section class="content-header"  >


  <!--zone de creation -->
  <div class="row" >
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"> Détail {{subject}} du <strong>{{item.date | date:'dd/MM/yyyy HH:mm'}}</strong> </h3>

        </div>

     <!-- display message area -->
        <div class="text-center alert-info" *ngIf="isBalancing" ><strong> Modification de la commande en cours... </strong></div>


        <!-- /.box-header -->
        <!-- form start -->
        <form role="form"  #userForm="ngForm">
          <!-- action zone-->
          <div class="box-footer text-right">
             <button *ngIf="canShowBalanceBtn()" type="button" (click)="payBalance()" class="btn btn-danger"><i class="fa fa-dollar"></i> Solder</button>
             <button type="button" (click)="printData()" class="btn btn-primary"><i class="fa fa-print"></i> Imprimer</button>
            <button type="button" (click)="hideForm()" class="btn btn-default"><i class="fa fa-arrow-left"></i> Fermer</button>
       </div>

          <!-- pdf file printed -->
          <div *ngIf="isPrinting" class="text-center alert-info"><strong> Génération de la commande en cours... </strong> </div>

          <div *ngIf="isPrinting===false">
            <it-pdfviewer [visible]="isOrderPdfVisible" [title]="'Détail Commande'" [file]="generatedOrderPdf" (closed)="updateOnPdfClose($event)" ></it-pdfviewer>
          </div>

          <div class="box-body">

            <!-- donnees -->
            <div class="row">
              <div class="col-md-4">
                <!-- -->
                <div class="form-group">
                  <label for="hu">Fournisseur</label>
                  <input type="text" disabled class="form-control" [(ngModel)]="item.supplier.name" name="supplier"
                         placeholder=""  #supplier>
                </div>

              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="ho">Rayon destination</label>
                  <input type="text" disabled class="form-control" [(ngModel)]="item.destination.name" name="destination"
                         placeholder=""  #destination>
                </div>

              </div>

               <div class="col-md-4" *ngIf="!canShowBalanceBtn()">
                <div class="form-group">
                  <label for="ho">Montant payé</label>
                  <input type="number" disabled class="form-control" [(ngModel)]="item.amount_paid" name="amount_paid"
                         placeholder=""  #amount_paid>
                </div>
              </div>

               <div class="col-md-4" *ngIf="canShowBalanceBtn()">
                <div class="form-group">
                  <label for="ho">Reste à payer</label>
                  <input type="number" class="form-control" [(ngModel)]="amountToPay" name="amount_to_pay"
                         placeholder=""  #amount_to_pay>
                </div>
              </div>

            </div>
            <!-- fin donnees -->
            <br>


            <div class="row">

              <div class="col-md-12">
                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Liste des produits (<strong>{{(item.lines!==undefined)? item.lines.length : 0}}</strong>)</h3>

                    <div class="box-tools bg-yellow">
                      <div class="info-box-content">
                        <span class="info-box-number">{{ item.amount | formatMoney}}</span>
                      </div>
                    </div>

                  </div>

                  <!-- lines -->
                  <!-- /.box-header -->
                  <div class="box-body no-padding">
                    <table class="table table-striped">
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Produit</th>
                        <th class="text-center">Quantité</th>
                        <th class="text-right">Prix achat</th>
                        <th class="text-right">Prix vente</th>
                        <th class="text-right">Prix total</th>
                        <th class="text-right">Code barre</th>
                        <th class="text-right">Date Expiration</th>
                      </tr>
                      <tr  *ngFor="let p of item.lines, let i = index">
                        <td>{{i+1}}</td>
                        <td class="text-left">
                          {{p.product.product.name}} ({{p.product.measure_type.name}})
                        </td>
                        <td class="text-center">
                          {{p.quantity | formatMoney}}
                        </td>
                        <td class="text-right">
                          {{p.purchase_price | formatMoney}}
                        </td>
                        <td class="text-right">
                          {{p.selling_price | formatMoney}}
                        </td>
                        <td class="text-right">
                          {{ (p.purchase_price * p.quantity) | formatMoney}}
                        </td>
                        <td class="text-center">
                          {{p.barcode}}
                        </td>
                        <td class="text-center">
                          {{p.expiration_date | date:'dd/MM/yyyy'}}
                        </td>
                      </tr>

                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
              <!-- /.col -->

            </div>
            <!-- fin type mesure et assoc. -->

          </div>
          <!-- /.box-body -->

        </form>
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- fin zone de creation -->


</section>







